
.databox {
	background-color:  #323232;
    height: 100%;
	border-radius: 10px;
	border-color: black;
	border-width: 2px;
	border-style: solid;

}

.fasta-panel {
	background-color: #494949;
    height: 100%;
	border-radius: 5px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
    font-family: monospace;
    overflow-wrap: break-word;
    overflow: scroll;
}

.fasta-panel p{
	margin: 0

}

.Select-value-label {
    color: black !important;
}

.VirtualizedSelectOption {
    color: black;
 }

.VirtualizedSelectFocusedOption {
    background-color: #aae4ee;
    opacity: .7;
}


