/**
 * CSS cascading ensures styles are applied based on specificity and order:
 * - Specificity: Selectors with higher specificity (e.g., IDs like #launch_activities) 
 *   override lower specificity selectors (e.g., classes like .header_toolbar).
 * - Cascade Order: When specificity is the same, styles defined later in the CSS file 
 *   or loaded later in the page override earlier ones.
 * - Our CSS file overrides OMERO web's styles because:
 *   1. It directly targets the #launch_activities::before pseudo-element.
 *   2. It is loaded after OMERO web's default CSS, ensuring higher priority in the cascade.
 * - No conflicts arise because OMERO web does not redefine these properties 
 *   with higher specificity or !important rules.
 */


#scriptButton {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
}

/* New ::before pseudo-element for pretty_scriptButton */
#scriptButton::before {
    /* Replace the content as needed */
    content: "Scripts Menu";
    background: url(../img/script-text-play.svg) no-repeat left center;
    background-size: contain;
    padding-left: 27px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align text to the right */
    color: white; /* Font color */
    background-color: rgb(51, 51, 51); /* Background color */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Font */
    font-weight: 500; /* Font weight */
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4); /* Text shadow */
    height: calc(100% - 1em); /* Adjust for padding */
    border: none; /* No border */
    border-radius: 3px 0 0 3px; /* Rounded left-side corners */
}

/* Hover styles for the new button */
#scriptButton:hover::before {
    color: white; /* Text color on hover */
    border: none; /* No border on hover */
}

/* Example for Activities Log and Upload Data buttons */
#launch_activities::before,
#dataUploadButton::before {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background-color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.2em;
    padding: 0.5em;
    height: calc(100% - 1em);
    border: none;
    border-radius: 0 3px 3px 0;
}

#launch_activities::before {
    content: "Activities Log";
}

#dataUploadButton::before {
    content: "Upload Data";
}
