/* This removes the tab in the righ-hand menu of omero.web */
#annotation_tabs_list li[aria-controls="scripts%20menu"] {
    display: none;
}

/* Add this at the beginning of your CSS file */
#scripts\ menu.right_tab_content {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
}

#scripts-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: hsl(210, 20%, 80%);
}

#scripts-menu #scripts-menu-draggable {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 300px;
    height: 400px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-width: 300px; /* Set minimum width */
    border-radius: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: hsl(210, 20%, 80%);
}

#scripts-menu #scripts-menu-draggable.enlarged {
    width: calc(100% - 360px);
    height: calc(100% - 45px);
    top: 40px;
    left: 355px;
    bottom: 5px;
    right: 5px;
}

#scripts-menu .scripts-menu-window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background-color: #333;
    color: white;
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#scripts-menu .scripts-menu-title-container {
    display: flex;
    align-items: center;
}

#scripts-menu .scripts-menu-window-title {
    font-size: 1.2em;
}

#scripts-menu .scripts-menu-script-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

#scripts-menu .scripts-menu-window-controls button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
}

#scripts-menu .scripts-menu-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

#scripts-menu #scripts-menu-tabContainer {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    font-size: 1.1em;
}

#scripts-menu .scripts-menu-tabs button {
    background-color: inherit;
    border: none;
    border-radius: 5px;
    margin-right: 1px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    color: black;
    font-weight: bold;
    white-space: nowrap; /* Prevent text wrapping in buttons */
    flex-shrink: 0; /* Prevent buttons from shrinking */
    font-size: 1.1em;
}

#scripts-menu #scripts-menu-searchBar {
    margin-left: auto;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
    transition: width 0.3s;
    height: 32px;
    box-sizing: border-box;
    font-size: 1.1em;
}

#scripts-menu #scripts-menu-searchBar.small {
    width: 100px;
    font-size: 1.1em;
}

#scripts-menu .scripts-menu-tabs button:hover {
    background-color: #fffdfd;
}

#scripts-menu .scripts-menu-tabs button.active {
    background-color: rgb(51, 51, 51) !important;
    color: white;
    border-radius: 5px;
}

#scripts-menu .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: scroll;
    padding-bottom: 20px;
}

#scripts-menu .directory {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    transition: background-color 0.3s, margin 0.3s, padding 0.3s;
}

#scripts-menu .directory.small,
#scripts-menu .directory.small > * {
    background-color: transparent !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
}

#scripts-menu .subdirectory-header {
    background-color: transparent;
    color: black;
    padding-bottom: 10px;
    padding-top: 0;
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 600px), (max-height: 600px) {
    #scripts-menu .subdirectory-header {
        display: none;
    }

    #scripts-menu .script-card {
        height: auto;
        padding: 10px;
    }
}

#scripts-menu .script-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
}

/* For containers with only one card */
#scripts-menu .script-cards-container:only-child {
    width: 100%;
}

/* For containers with exactly two cards */
#scripts-menu .script-cards-container:nth-last-child(2):first-child,
#scripts-menu .script-cards-container:nth-last-child(2):first-child ~ .script-card {
    flex-basis: calc(50% - 5px);
}

/* For containers with exactly three cards */
#scripts-menu .script-cards-container:nth-last-child(3):first-child,
#scripts-menu .script-cards-container:nth-last-child(3):first-child ~ .script-card {
    flex-basis: calc(33.333% - 5px);
}

#scripts-menu .script-card {
    background-color: #99ccff;
    color: black !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 0 calc(33.333% - 5px);
    text-align: left;
    box-sizing: border-box;
    min-width: 200px; /* Minimum width to ensure cards are not too small */
    min-height: 60px; /* Minimum height to ensure title is not cut off */
    height: 150px; /* Increase height for larger size */
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-width 0.3s, font-weight 0.3s, color 0.3s, height 0.3s, padding 0.3s, max-height 0.3s;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.2em;
    font-weight: bold;
}

#scripts-menu .custom-script-card {
    background-color: #cceeff;
}

#scripts-menu .script-card:hover {
    background-color: #ffcc99;
    color: black !important;
    border-color: black;
}

#scripts-menu .minimized {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
    resize: none;
}

#scripts-menu .maximized {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}

#scripts-menu #scripts-menu-draggable.minimized {
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
}

#scripts-menu #scripts-menu-draggable.minimized .scripts-menu-window-header,
#scripts-menu #scripts-menu-draggable.minimized .scripts-menu-tabs,
#scripts-menu #scripts-menu-draggable.minimized .tabcontent {
    display: none;
}

#scripts-menu #scripts-menu-draggable.minimized .scripts-menu-restore-btn {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#scripts-menu .scripts-menu-restore-btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#scripts-menu .script-link {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#scripts-menu .script-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    background: linear-gradient(to left, #99ccff, transparent);
}

#scripts-menu .script-card-content {
    display: none;
    position: static;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 40px;
    overflow: hidden;
    display: -webkit-box; /* Use flexbox to align items side by side */
    -webkit-box-orient: vertical; /* Set box orientation to vertical */
    -webkit-line-clamp: 6; /* Show up to N lines */
    line-clamp: 6;
    align-items: center;
    white-space: normal;
    text-overflow: ellipsis; /* Add ellipsis to indicate overflow */
    font-size: 1em; /* Set smaller font size */
    font-weight: normal;
}

#scripts-menu .script-card-content span {
    padding-top: 5px;
    margin-right: 10px;
    padding-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box; /* Use flexbox to align items side by side */
    -webkit-box-orient: vertical; /* Set box orientation to vertical */
    -webkit-line-clamp: 9; /* Show up to N lines */
    line-clamp: 9;
    font-size: 1em; /* Set smaller font size */
}

/* Not currently in use*/
#scripts-menu .script-card-content img {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    cursor: pointer;
}

#scripts-menu .script-card.large .script-card-content {
    display: flex;
}

#scripts-menu .script-card.small {
    height: auto;
    padding: 10px;
    max-height: 100px;
}

#scripts-menu .scripts-menu-search-bar.small {
    width: 100px;
}

#scripts-menu #scripts-menu-uploadButton {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
    height: 32px; /* Match the height of the search input */
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 1.1em;
}

#scripts-menu .scroll-padding {
    height: 100px;
    width: 100%;
}

#scripts-menu .bottom-dir-spacer-container {
    background-color: transparent !important;
}

#scripts-menu .bottom-dir-spacer {
    height: 100px;
    width: 100%;
    background-color: transparent !important;
    border: none;
    margin-top: 20px;
}